In [1]:
import numpy as np

# logistic regression

In [157]:
class Logistic_Regression:

    # declaring the hyper-parameters 
    def __init__(self, learning_rate, no_of_iterations):
        self.learning_rate = learning_rate
        self.no_of_iterations = no_of_iterations

    def fit(self, x, y):
        # no. of data points (m), no. of features(n)
        self.m, self.n = x.shape

        # initialising the weights and bias
        self.w = np.zeros(self.n)
        self.b = 0
        self.x = x
        self.y = y

        # implementing gradient descent
        for i in range(self.no_of_iterations):
            self.update_weights()

    def update_weights(self):

        # y_hat formula :- sigmoid function
        y_hat = 1/(1 + np.exp(-(self.x.dot(self.w) + self.b)))

        # derivatives / gradients
        dw = (1/self.m)*np.dot(self.x.T, (y_hat - self.y))
        db = (1/self.m)*np.sum(y_hat - self.y)

        # updating the weights and bias using gradient decent equation
        self.w = self.w - self.learning_rate*dw
        self.b = self.b - self.learning_rate*db

    # writing the sigmoid equation and the decision boundary
    def predict(self, input_x):
        y_pred = 1/(1+np.exp(-(input_x.dot(self.w) + self.b)))
        y_pred = np.where(y_pred>0.5, 1, 0)
        return y_pred

# making predictions using the model

In [121]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [122]:
df = pd.read_csv(r"C:\Users\22213\OneDrive\Desktop\CSV\diabetes.csv")

In [123]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [124]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [126]:
df.groupby(['Outcome']).mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [127]:
df_feature = df.drop(columns=['Outcome'], axis=1)
df_target = df['Outcome']

In [128]:
print(df_feature.shape, df_target.shape)

(768, 8) (768,)

# data standaradization

In [129]:
scaler = StandardScaler()

In [130]:
df_feature = scaler.fit_transform(df_feature)

In [131]:
df_feature

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [132]:
df_target

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [133]:
x_train, x_test, y_train, y_test = train_test_split(df_feature, df_target, test_size=.15, stratify=df_target)

In [134]:
print(df_feature.shape, x_train.shape, x_test.shape)

(768, 8) (652, 8) (116, 8)

# training model

In [158]:
model = Logistic_Regression(learning_rate=0.01, no_of_iterations=1000)

In [159]:
model.fit(x_train, y_train)

# Accuracy score

In [160]:
# accuracy score on train data
x_train_pred = model.predict(x_train)
train_data_accuracy = accuracy_score(y_train, x_train_pred)
print('Accuracy score for training data: ', train_data_accuracy)

Accuracy score for training data:  0.7638036809815951

In [161]:
print(x_test.shape, y_test.shape)

(116, 8) (116,)

In [162]:
# accuracy score on test data
x_test_pred = model.predict(x_test)
test_data_accuracy = accuracy_score(y_test, x_test_pred)
print('Accuracy score for test data: ', test_data_accuracy)

Accuracy score for test data:  0.7586206896551724

# making predictions

In [171]:
input_data = [4,111,72,47,207,37.1,1.39,56]
input_data = np.asarray(input_data)
input_data = input_data.reshape(1,-1)
std_data = scaler.transform(input_data)
p = model.predict(std_data)
if p == 1:
    print('diabetic')
else:
    print('not diabetic')

diabetic

c:\Users\22213\anaconda3\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(